/*
Creator: Pat Bodin
Date created: 08/18/2020
Date last modified:
*/

/* structure rules */

body {
    background-color: #fef9ff;
    font-family: arial, helvetica, sans-serif;
    color: #0d1f2d;
    max-width: 900px;
    margin: 0 auto;
}
header, footer {
    background-color: #5b7d87;
    color: #fef9ff;
    height: 100px;
    text-align: center;
    padding: 30px 10px 20px 10px;
}
footer {
  height: 125px;
}

/* navigation rules */

nav {
  border-top: thin #5b7d87 solid;
  border-bottom: thin #5b7d87 solid;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 50px;
}
nav .btn {
  background-color: #5b7d87;
  color: #fff;
}
nav .btn:hover {
  font-weight: bold;
}
nav .btn:active {
    font-weight: bold;
    text-decoration: underline;
}
nav .btn:visited {
    color: #fef9ff;
}
nav li {
  margin-right: 10px;
  margin-left: 10px;
}

/* table rules */

table, th, td {
  text-align: center;
  margin-bottom: 50px;
  padding: 0px 0px 5px 10px;
}
table {
  width: 100%;
}
th {
  height: 25px;
  font-size: 1.2em;
  font-weight: bold;
}

/* form rules */

form {
  text-align: center;
}
label, fieldset{
    font-size: 1.1em;
    font-weight: bold;
}
input[type=text] {
    border: 2px solid #0d1f2d;
    width: 50%;
    padding: 8px 8px;
    margin: 12px 0;
    box-sizing: border-box;
    font-size: 1.1em;
}
fieldset {
    background-color: #fef9ff;
    width: 100%;
    padding: 12px 20px;
    margin: 12px 0;
    box-sizing:	border-box;
}
select, textarea {
    margin: 12px 0;
    font-size: 1em;
}
input[type=submit] {
    font-size: 1.2em;
    background-color: #546a7b;
    color: #fef9ff;
    padding: 4px 8px;
    margin-bottom: 20px;
}
input[type=submit]:hover {
    background-color: #f2eded;
    color: #546a7b;
}
textarea {
    width: 100%;
    height: 200px;
    padding: 12px 20px;
    margin: 12px 0;
    box-sizing: border-box;
    border: 2px solid #0d1f2d;
    border-radius: 3px;
    background-color: #fff;
    resize: none;
}
